// width max screen
$desktop-max-width: 1440px;
$tablet-max-width: 992px;
$small-tablet-max-width: 767px;
$mobile-max-width: 500px;
$small-mobile-max-width: 400px;


// Colors
$color-black: #3F3F3F;
$color-gray: #B4B4B4;
